.table{
    margin-top: 12px;
    overflow: scroll;
    height: 500px;
    overflow-x: hidden;
    color: #6a5d5d;
    margin-bottom: 10px;
}

.table tr:nth-of-type(even)
{
    background-color: #f3f2f8;
}
.table tr{
    display: flex;
    justify-content: space-between;
}
.table td{
    padding: 2px;
}