*{
  margin: 0;
}

body{
  background-color: #f5f6fa;
}


.infoBox{
  width: 150px;
}
@media (max-width: 700px) {
  .app{
    flex-direction: column;
  }
  .app_left{
    padding-bottom: 20px;
  }
  .app_header_title{
    flex:0.9;
    margin-bottom: 12px;
  }
  .infoBox{
    font-size: 60%;
    width: 120px;
  }
  .app_header{
    flex-direction: column;
  }

}
.app_left{
  flex:0.9;
  height : 800px;
}

.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app_header{
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.app_stat{
  display: flex;
  justify-content: space-between;
}